@import (reference) '../styles/modules/variables.less';

.Feed {
  padding-bottom: 40px;
}

.ulog-quotes {
  padding-bottom: 20px;
}

.feed-carousel {
  .slick-slide {
    > div {
      > div {
        display: block !important;
      }
    }
  }
}

.youtube-player {
  margin: 0 auto;
}

.chatbar {
  display: none;
}



@media screen and (min-width: 1400px) {
  .chatbar {
    display: inline;
  }

  .rightContainer {
    margin-right: 10%;
  }

  .leftContainer {
    margin-left: -5%;
  }

  .center {
    width: calc(95% - (180px + 270px + 2 * 20px)) !important;
  }
}